<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <!-- Specify that the camera is not required -->
    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <!-- Specify that telephony is not required -->
    <uses-feature android:name="android.hardware.telephony" android:required="false" />

    <application
        android:enableOnBackInvokedCallback="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FLARECAPSTONE"
        tools:targetApi="31">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDdJ1N_5HKH_JHndZvmM7jb4H4VLb2iq1Q"/>

        <meta-data android:name="com.onesignal.NotificationOpened.DEFAULT" android:value="DISABLE" />

        <activity
            android:name=".Onboard1Activity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity"/>
        <activity android:name=".Onboard2Activity"/>
        <activity android:name=".Onboard3Activity"/>
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="https" android:host="yourapp.page.link"/>
                <!-- If you also use a custom domain for continueUrl -->
                <data android:scheme="https" android:host="your-domain.example.com"/>
            </intent-filter>
        </activity>

        <activity android:name=".RegisterActivity"/>
        <activity android:name=".DashboardActivity"/>
        <activity android:name=".FireLevelActivity"/>
        <activity android:name=".OtherEmergencyActivity"/>
        <activity android:name=".ReportSmsActivity"/>
        <activity
            android:name=".FireReportResponseActivity"
            android:parentActivityName=".DashboardActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".DashboardActivity" />
        </activity>

        <activity android:name=".EditProfileActivity"/>
        <activity android:name=".ChangePasswordActivity"/>
        <activity android:name=".AboutAppActivity"/>
        <activity android:name=".UserGuideActivity"/>
        <activity android:name=".MyReportActivity"/>
        <activity android:name=".FireStationInfoActivity"/>
        <activity android:name=".DashboardFireFighterActivity"/>

    </application>

</manifest>